:root {
    --bg-color: rgb(255,255,255);
}

body {
    width: 100%;
    -color: var(--bg-color);
}
.navbar {
    width: 100%;
    margin-bottom: 20px;
}
.row-custom {
    width: 100% !important;
    margin: 0px;
}
/* Home */
.card-custom {
    width: 100%;
    margin-bottom: 15px;
}

.imagem > img {
    width: 100%;
    padding: 15px;
}

.imagem {
    margin-right: 0px;
}

.col-custom {
    padding: 0px;
}

.card-body-custom {
    padding: 10px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.barra-progressao {
    width: 100%;
    background-color: red;
    padding: 0px;
}
.barra-progressao-feita {
    width: 0%;
    background-color: aqua;
}
.barra-progressao-feita > p {
    margin: 0px;
    visibility: hidden;
}

#grad {
    background-image: linear-gradient(red, yellow, green);
}

.imagem-categoria {
    height: 200px;
    width: 100%;
    background-size: cover;
    position: relative;
}