 :root {
    --bg-color: rgb(255,255,255);
}

body {
    width: 100%;
    -color: var(--bg-color);
}
.navbar {
    width: 100%;
}
.video > img {
    width: 800px;
    height: 500px;
    margin-bottom: 15px;
}
.question {
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 15px;
}
.alternativa {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.btn-outline-secondary:hover {
    background-color: #fff;
    color: #6c757d;
}
.btn-custom-question:focus {
    box-shadow: none !important;
    font-size: 18px;
}
.btn-custom {
    font-size: 22px !important;
}
.confirma {
    margin-top: 15px;
    width: 100%;
}
.espaco {
    margin-top: 20px;
    margin-bottom: 20px;
}
.imagem {
    width: 200px;
    height: 200px;
    margin: 10px;
}
.btn-custom-alternativa {
  margin: 15px;
}
.btn-custom-selecionado {
  border-width: 5px;
}
.btn-outline-primary:hover {
    background-color: #fff;
    color: #007bff;
}
.video-custom {
    margin: 20px;
}

.card-custom {
    width: 100%;
}

@media screen and (max-width: 1000px) {
  .card-custom ~ img{
      height: 100px !important; 
  }
}

