nav {
    font-size: 20px;
    color: white;
}

a.nav-link, a.dropdown-item {
    color: white !important;
}

.dropdown-menu {
    background-color: #3e9b8a;
}

.dropdown-item:focus, .dropdown-item:hover{ 
    background-color: #3e9b8a; 
}

.nav-btn {
    margin-right: 15px;
}

.logo > img {
    height: 60px;
    width: 60px;
}

.logo, .navbar-brand {
    width: 70px;
}

.navbar-custom {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #3e9b8a;
    margin-bottom: 30px;
}
